{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}


{% block body %}
	<div class="container">
        <div class="row">
            <div class="col-lg-8">
            	<section>
	                <h1>An original concurrent resolution setting forth the congressional budget for the United States Government for fiscal year 2016 and setting forth the appropriate budgetary levels for fiscal years 2017 through 2025.</h1>
	                <hr />
	                <div class="person-text" style="float:left;">
	                	<p class="lead"><b>Date Introduced:</b> 2015-03-20 </p>
	                	<p class="lead"><b>House Status  :</b> Pass</p>
	                	<p class="lead"><b>Senate Status :</b> Pass</p>
	                	<p class="lead"><b>Current Status:</b> Agreed To</p>
	                	<p class="lead"><b>Current Status Description:</b> This concurrent resolution was agreed to by both chambers of Congress on May 5, 2015. That is the end of the legislative process for concurrent resolutions. They do not have the force of law.</p> 
	                	<p class="lead"><a href= "https://www.govtrack.us/congress/bills/114/sconres11"><b>Full Text</b></a></p>
	                </div>
                </section>
                <!-- Post Content -->
                <div id="committee-list" style="clear:both">
                	<hr />
                	<h2>Sponsor</h2>
                	<img class="img-responsive" id="person-picture" src="https://theunitedstates.io/images/congress/450x550/E000285.jpg" alt="" style="float:left;margin-right:2em;width:75px"; />
	                <div class="person-text" style="float:left;">
	                	<p class="lead"><b>Fullname:</b> <a href= "/senator/id/2"><b>Michael Enzi</b></a>
	                	<p class="lead"><b>Party   :</b> Republican</p> 
	                </div>
                </div>
            </div>
        </div>
	</div>
{% endblock %}
