{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}


{% block body %}
<div id="other" class="container"></div>

<script type="text/babel">

var cols = [
    { key: 'name', label: 'Name' },
    { key: 'chamber', label: 'Chamber' },
    { key: 'website', label: 'Website' },
    { key: 'chair', label: 'Chair' }
];

var data = [
    { id: 'SSHR', name: 'Senate Committee on Health, Education, Labor, and Pensions', chamber: 'Senate', website: 'http://help.senate.gov/', jurisdiction: 'N/A', chair: 'Lamar Alexander' },
    { id: 'HSPW', name: 'House Committee on Transportation and Infrastructure', chamber: 'House', website: 'http://transportation.house.gov/', jurisdiction: 'The Transportation and Infrastructure Committee has jurisdiction over all modes of transportation: aviation, maritime and waterborne transportation, highways, bridges, mass transit, and railroads.  The Committee also has jurisdiction over other aspects of our national infrastructure, such as clean water and waste water management, the transport of resources by pipeline, flood damage reduction, the management of federally owned real estate and public buildings, the development of economically depressed rural and urban areas, disaster preparedness and response, and hazardous materials transportation.', chair: 'Bill Shuster' },
    { id: 'SSBU', name: 'Senate Committee on the Budget', website: 'http://budget.senate.gov/', jurisdiction: 'N/A', chair: 'Michael Enzi', chamber: 'Senate' }
];

var Table = React.createClass({

    render: function() {
        var headerComponents = this.generateHeaders(),
            rowComponents = this.generateRows();

        return (
            <table className="table table-striped">
                <thead> {headerComponents} </thead>
                <tbody> {rowComponents} </tbody>
            </table>
        );
    },

    generateHeaders: function() {
        var cols = this.props.cols;  // [{key, label}]

        // generate our header (th) cell components
        return cols.map(function(colData) {
            return <th key={colData.key}> {colData.label} </th>;
        });
    },

    generateRows: function() {
        var cols = this.props.cols,  // [{key, label}]
            data = this.props.data;

        return data.map(function(item) {
            // handle the column data within each row
            var cells = cols.map(function(colData) {

                // colData.key might be "firstName"
                return <td> {item[colData.key]} </td>;
            });
            return <tr key={item.id}> {cells} </tr>;
        });
    }
});

React.render(<Table cols={cols} data={data}/>, document.getElementById('other'));

// var our_rows = [
//   {
//     name: 'john',
//     chamber: 'house',
//     website: 'www',
//     description: 'desc',
//     chair: 'chair'
//   }
// ];
// ReactDOM.render(<Table rows=our_rows/>, document.getElementById("other"));
</script>
{% endblock %}

