{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}


{% block body %}
	<div class="container">
        <div class="row">
            <div class="col-lg-8">
            	<section>
	                <h1>Rep. Lamar Smith </h1>
	                <hr />
	                <img class="img-responsive" id="person-picture" src="https://theunitedstates.io/images/congress/original/S000583.jpg" alt="" style="float:left;margin-right:2em;width:250px" />
	                <div class="person-text" style="float:left;">
	                	<p class="lead"><b>Fullname:</b> Lamar Smith</p>
	                	<p class="lead"><b>Birthday:</b> 1947-11-19 (Age: 67)</p>
	                	<p class="lead"><b>Gender  :</b> Male</p>
	                	<p class="lead"><b>Chamber :</b> House</p>
	                	<p class="lead"><b>State   :</b> Texas</p>
	                	<p class="lead"><b>Party   :</b> Republican</p> 
	                	<p class="lead"><a href= "http://lamarsmith.house.gov/"><b>Website</b></a></p>
	                </div>
                </section>
                <!-- Post Content -->
                <div id="committee-list" style="clear:both">
                	<br />
                	<hr />
                	<h2>Committee Membership</h2>
                	<p>Chairman, House Committee on Science, Space, and Technology</p>
                	<ul>
                		<li>Ex Officio, Subcommittee on Energy</li>
                		<li>Ex Officio, Subcommittee on Environment</li>
                		<li>Ex Officio, Subcommittee on Oversight</li>
                		<li>Ex Officio, Subcommittee on Research and Technology</li>
                		<li>Ex Officio, Subcommittee on Space</li>
                	</ul>
					<p>House Committee on Homeland Security</p>
					<ul>
						<li>Member, Subcommittee on Border and Maritime Security</li>
					</ul>
					<p>House Committee on the Judiciary</p>
					<ul>
						<li>Member, Subcommittee on Courts, Intellectual Property, and the Internet</li>
						<li>Member, Subcommittee on Immigration and Border Security</li>
					</ul>
                	<hr />      
                </div>
                <div class="twitter">
                	<a class="twitter-timeline" href="https://twitter.com/LamarSmithTX21" data-widget-id="656952888724291584">Tweets by @LamarSmithTX21</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
                <hr />
                <div class="youtube">

                </div>
            </div>
        </div>                
	</div>
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>
{% endblock %}
