.fullscreen-bg-house {
    position: fixed;
    background: url(../img/house.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -100;
}

.fullscreen-bg-senate {
    position: fixed;
    background: url(../img/senate.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -100;
}

.fullscreen-bg-bills {
    position: fixed;
    background: url(../img/bill.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -100;
}

.fullscreen-bg-about {
    position: fixed;
    background: url(../img/about.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -100;
}

.fullscreen-bg-committees {
    position: fixed;
    background: url(../img/committee.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -100;
}

.fullscreen-bg-comics {
    position: fixed;
    background: url(../img/comics.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -100;
}

.person-text {
    float: left;
    position: relative;
    left: 2em;
}

.fullscreen-bg__video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.container {
    background: lightgrey;
}

#person-picture {
    float: left;
}


