{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}


{% block body %}
<div class="fullscreen-bg-bills">
    <!-- <img src="static/img/senate.jpg"/> -->
</div>
<h1 align="center">Bills</h1>
<div class="container" id="bills">
</div>
<script type="text/babel">
var Table = React.createClass({
    getInitialState: function(){
        return {
            data: []
        }
    },
    // loadData: function(){
    //     $.get(this.props.source, function(result) {
    //       if (this.isMounted()) {
    //         this.setState({
    //           data : []
    //         });
    //       }
    //     }.bind(this));
    // },
    // componentWillMount: function(){
    //     this.loadData();
    // }, 
    componentDidMount: function(){
        var self = this;
        $.get(this.props.source, function(result) {
          var lastGist = result["bills"];
          if (this.isMounted()) {
            this.setState({
              data: lastGist
            });
          }
        }.bind(this));
    },
    componentDidUpdate: function(){
        $('#mytable').dataTable({
          "bAutoWidth": false,
          "bDestroy": true, 
        });
    },
    render: function(){
        var table = this.state.data.map(function(d, index){
            var sponsorName = (d["sponsor"]) ? "Name Here" : "None";
            var sponsor = (sponsorName == "None") ? sponsorName : <a href={"legislator/id/" + d["sponsor"]}>{sponsorName}</a>;
            var senate_status = (d["senate_status"] == "") ? "none" : d["senate_status"];
            var house_status = (d["house_status"] == "") ? "none" : d["house_status"];
            return (<tr>
                     <td><a href={"/bills/id/" +d["id"]}>{d["name"]}</a></td>
                     <td>{d["date_intro"]}</td>
                     <td>{sponsor}</td>
                     <td>{senate_status}</td>
                     <td>{house_status}</td>
                 </tr>)
        });
        if(this.state.data.length > 1)
        {      
            return (
                    <div className="table-responsive">
                        <table className="table table-striped" id="mytable">
                            <thead>
                                <tr className="success">
                                    <td>Bill Name</td>
                                    <td>Date Introduced</td>
                                    <td>Sponsor</td>
                                    <td>Senate Status</td>
                                    <td>House Status</td>
                                </tr>   
                            </thead>
                            <tbody>
                                {table}
                            </tbody>
                        </table>
                    </div>
                )    
        }
        else
        {
            return (
                    <div className="table-responsive">
                    </div>
                )    
        }
    }
 });
React.render(<Table source="http://politicianhub.me/api/v1/bills" />, document.getElementById('bills'));

</script>
{% endblock %}
