{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}


{% block body %}
	<div class="container">
        <div class="row">
            <div class="col-lg-8" id = "billReact">
               <h1> {{bill.name}} </h1>
               <hr />
               <div className="person-text" >
                   <p className="lead"><b>Date Introduced:</b> {{bill.date_intro}} </p>
                   <p className="lead"><b>House Status  :</b> {{bill.house_status}}</p>
                   <p className="lead"><b>Senate Status :</b> {{bill.senate_status}}</p>
                   <p className="lead"><b>Current Status:</b> {{bill.current_status_label}}</p>
                   <p className="lead"><b>Current Status Description:</b> {{bill.current_status_description}}</p> 
                   <p className="lead"><a href="{{bill.link}}"><b>Full Text</b></a></p>
               </div>
               <div id="sponsor" >
                   {% if bill.sponsor %}
                   <hr />
                   <h2>Sponsor</h2>
                   <img className="img-responsive" id="person-picture" src="{{bill.sponsor.image}}" style="float:left;margin-right:2em;width:75px" />
                   <div className="person-text" >
                       <p className="lead"><b>Fullname:</b> <a href="/legislator/id/{{bill.sponsor.id}}"><b>{{bill.sponsor.first_name}} {{bill.sponsor.last_name}}</b></a> </p>
                       <p className="lead"><b>Party   :</b> {{bill.sponsor.party}}</p> 
                   </div>

                   {% else %}
                   <hr />
                   <h2>Sponsor</h2>
                   <h4>There is no Sponsor for this Bill</h4>
                   {% endif %}
               </div>
               <div id="committees-list">
                    <br />
                    <hr />
                    <h2>Committees of the Bill</h2>
                    <ul>
                    {% for committee in bill.committees %}
                      <li><h4><a href={"/committee/id/{{committee.id}}">{{committee.name}}</a></h4></li>
                    {% endfor %}
                    </ul>
               </div>
            </div>
        </div>
	</div>
{% endblock %}
