{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}


{% block body %}
<div class="fullscreen-bg-senate">
    <!-- <img src="static/img/senate.jpg"/> -->
</div>
<h1 align="center">Bills</h1>
<div class="container">
<table class="table table-striped">
    <thead>
      <tr>
        <th>Bill Name</th>
        <th>Date Introduced</th>
        <th>Sponsor</th>
        <th>Senate Status</th>
        <th>House Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href='/bills/id/1'>An original concurrent resolution setting forth the congressional budget for the United States Government for fiscal year 2016 and setting forth the appropriate budgetary levels for fiscal years 2017 through 2025.</a></td>
        <td>2015-03-20</td>
        <td><a href='/senator/id/2'>Michael Enzi</a></td>
        <td>Pass</td>
        <td>Pass</td>
      </tr>
      <tr>
        <td><a href='/bills/id/2'>DHS IT Duplication Reduction Act of 2015</a></td>
        <td>2015-03-25</td>
        <td><a href='/representative/id/2'>Will Hurd</a></td>
        <td>Pass</td>
        <td>Pass</td>
      </tr>
      <tr>
        <td><a href='/bills/id/3'>FISA Amendments Act Reauthorization Act of 2012</a></td>
        <td>2012-06-15</td>
        <td><a href='/representative/id/3'>Lamar Smith</a></td>
        <td>Pass</td>
        <td>Pass</td>
      </tr>
    </tbody>
</table>
</div>
{% endblock %}
