{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}


{% block body %}
	<div class="container">
        <div class="row">
            <div class="col-lg-8">
            	<section>
	                <h1>House Committee on Transportation and Infrastructure</h1>
	                <hr />
	                <div class="committee-text" style="float:left;">
	                	<p class="lead"><b>Chamber :</b> <a href='/house'>House</a></p>
	                	<p class="lead"><b>Jurisdiction :</b> The Transportation and Infrastructure Committee has jurisdiction over all modes of transportation: aviation, maritime and waterborne transportation, highways, bridges, mass transit, and railroads.  The Committee also has jurisdiction over other aspects of our national infrastructure, such as clean water and waste water management, the transport of resources by pipeline, flood damage reduction, the management of federally owned real estate and public buildings, the development of economically depressed rural and urban areas, disaster preparedness and response, and hazardous materials transportation. </p>
	                	<p class="lead"><a href= "http://transportation.house.gov/"><b>Website</b></a></p>
	                </div>
                </section>
                <div id="chair" style="clear:both">
                        <hr />
                        <h2>Chair</h2>

                        <img class="img-responsive" id="person-picture" src="https://raw.githubusercontent.com/unitedstates/images/gh-pages/congress/450x550/S001154.jpg" alt="" style="float:left;margin-right:2em;width:75px" />
                        <div class="person-text" style="float:left;">
                            <p class="lead"><b>Fullname:</b> <a href= "/senator/id/1"><b>Bill Shuster</b></a>
                            <p class="lead"><b>Party   :</b> Republican</p> 
                        </div>
                </div>
            </div>
        </div>
	</div>
{% endblock %}
