{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}


{% block body %}
<div id="bg" class="fullscreen-bg">
    <img src="static/img/senate.jpg"/>
</div>
<div class="container">
<table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Chamber</th>
        <th>Website</th>
        <th>Chair</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href='/committee/id/1'>Senate Committee on Health, Education, Labor, and Pensions</a></td>
        <td><a href='/senate'>Senate</a></td>
        <td><a href='http://help.senate.gov'>http://help.senate.gov</a></td>
        <td><a href='/senator/id/1'>Lamar Alexander</td>
      </tr>
      <tr>
        <td><a href='/committee/id/2'>House Committee on Transportation and Infrastructure</a></td>
        <td><a href='/house'>House</a></td>
        <td><a href='http://transportation.house.gov'>http://transportation.house.gov</a></td>
        <td><a href='/representative/id/1'>Bill Shuster</td>
      </tr>
      <tr>
        <td><a href='/committee/id/3'>Senate Committee on the Budget</a></td>
        <td><a href='/senate'>Senate</a></td>
        <td><a href='http://budget.senate.gov'>http://budget.senate.gov</a></td>
        <td><a href='/senator/id/2'>Michael Enzi</td>
      </tr>
    </tbody>
</table>
</div>
{% endblock %}
