{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}


{% block body %}
	<div class="container">
        <div class="row">
            <div class="col-lg-8" id = "committee1">
            	
            </div>
        </div>
	</div>

<script type="text/babel">

 var Table = React.createClass({
        getInitialState: function(){
            return {data: []}
        },
        componentDidMount: function(){
            var self = this;
            $.get(this.props.source, function(result) {
              var d = [];
              d.push(result);
              if (this.isMounted()) {
                this.setState({
                  data: d
                });
              }
            }.bind(this));
        },
        componentDidUpdate: function(){
            $('#mytable').dataTable({
              "bAutoWidth": false,
              "bDestroy": true, 
            });
        },
        render: function()
        {
            if(this.state.data.length > 0)
            {
                var imgStyle = {
                    float:'left',
                    marginRight:'2em',
                    width:'75px'
                }
                var committee = this.state.data["0"];
                var isSub = (committee["is_subcommittee"]) ? "Yes" : "No";
                var chair = committee["chair"];
                var chamber = (committee["chamber"] == "house") ? "House" : "Senate" ;
                console.log(chamber);
                var jurisdiction = (committee["jurisdiction"]) ? committee["jurisdiction"] : "No Jurisdiction";
                if(chair["id"])
                {
                    return (
                        <section>
                            <h1> {committee["name"]} </h1>
                            <hr />
                            <div className="committee-text" >
                                <p className="lead"><b>Chamber      :</b> <a href= {"/" + committee["chamber"]}>{chamber}</a></p>
                                <p className="lead"><b>Jurisdiction :</b> {jurisdiction}</p>
                                <p className="lead"><b>Subcommittee? :</b> {isSub}</p>
                                <p className="lead"><a href= {committee["website"]}><b>Website</b></a></p>
                            </div>

                            <div id="chair" >
                                <hr />
                                <h2>Chair</h2>
                                <img className="img-responsive" id="person-picture" src={chair["image"]} alt="" style={imgStyle}/>
                                <div className="person-text" >
                                    <p className="lead"><b>Fullname:</b> <a href= {"/legislator/id/" + chair["id"]}><b>{chair["first_name"] + " " + chair["last_name"]}</b></a> </p>
                                    <p className="lead"><b>Party   :</b> {chair["party"]}</p> 
                                </div>
                            </div>

                        </section>
                    )
                }
                else
                {
                    return (<section>
                            <h1> {committee["name"]} </h1>
                            <hr />
                            <div className="committee-text" >
                                <p className="lead"><b>Chamber      :</b> <a href= {"/" + committee["chamber"]}>{chamber}</a></p>
                                <p className="lead"><b>Jurisdiction :</b> {jurisdiction}</p>
                                <p className="lead"><b>Subcommittee? :</b> {isSub}</p>
                                <p className="lead"><a href= {committee["website"]}><b>Website</b></a></p>
                            </div>
                            <div id="chair" >
                                <hr />
                                <h2>Chair</h2>
                                <h4>There is no Chairman for this Committee</h4>
                            </div>
                            </section>)
                }       
            }
            else
            {
                return (<section></section>)
            }
        }
     });

    React.render(<Table source="http://politicianhub.me/api/v1/committees/{{committee_id}}?verbose=true"/>, document.getElementById('committee1'));

</script>
{% endblock %}
