{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}


{% block body %}
	<div class="container">
        <div class="row">
            <div class="col-lg-8" id = "committeeReact">
                <section>
                    <h1> {{ committee.name }} </h1>
                    <hr />
                    <div className="committee-text" >
                        <p className="lead"><b>Chamber      :</b> <a href="/{{ committee.chamber_url }}">{{ committee.chamber }}</a></p>
                        <p className="lead"><b>Jurisdiction :</b> {{ committee.jurisdiction }}</p>
                        <p className="lead"><b>Subcommittee? :</b> {{ committee.is_subcommittee }}</p>
                        <p className="lead"><a href="{{ committee.website }}"><b>Website</b></a></p>
                    </div>
                    <div id="chair" >
                        {% if committee.chair.id %}
                            <hr />
                            <h2>Chair</h2>
                            <img className="img-responsive" id="person-picture" src={{committee.chair.image}} style="float:left;margin-right:2em;width:75px"/>
                            <div className="person-text" >
                                <p className="lead"><b>Fullname:</b> <a href="/legislator/id/{{committee.chair.id}}"><b>{{committee.chair.first_name}} {{committee.chair.last_name}}</b></a> </p>
                                <p className="lead"><b>Party   :</b> {{committee.chair.party}}</p> 
                            </div>
                        {% else %}
                            <hr />
                            <h2>Chair</h2>
                            <h4>There is no Chairman for this Committee</h4>
                        {%endif%}
                    </div>
                </section>
            </div>
        </div>
	</div>
{% endblock %}
