{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}


{% block body %}
<div class="container">
<table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>Party</th>
        <th>State</th>
      </tr>
    </thead>
    <tbody>
      <tr class='clickable-row' data-href='/representative/id/1'>
        <td>Robert</td>
        <td>Aderholt</td>
        <td>50</td>
        <td>Republican</td>
        <td>Alabama 4th District</td>
      </tr>
      <tr class='clickable-row' data-href='/representative/id/2'>
        <td>Joe</td>
        <td>Barton</td>
        <td>66</td>
        <td>Republican</td>
        <td>Texas 6th District</td>
      </tr>
      <tr class='clickable-row' data-href='/representative/id/3'>
        <td>Xavier</td>
        <td>Becerra</td>
        <td>57</td>
        <td>Democrat</td>
        <td>California 34th District</td>
      </tr>
    </tbody>
</table>
</div>
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>
{% endblock %}
