{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}


{% block body %}
<div class="container">
<table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>Party</th>
        <th>State</th>
      </tr>
    </thead>
    <tbody>
      <tr class='clickable-row' data-href='/representative/id/1'>
        <td>Bill</td>
        <td>Shuster</td>
        <td>54</td>
        <td>Republican</td>
        <td>Pennsylvania</td>
      </tr>
      <tr class='clickable-row' data-href='/representative/id/2'>
        <td>Will</td>
        <td>Hurd</td>
        <td>38</td>
        <td>Republican</td>
        <td>Texas</td>
      </tr>
      <tr class='clickable-row' data-href='/representative/id/3'>
        <td>Lamar</td>
        <td>Smith</td>
        <td>67</td>
        <td>Republican</td>
        <td>Texas</td>
      </tr>
    </tbody>
</table>
</div>
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>
{% endblock %}
