{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}


{% block body %}
<div class="fullscreen-bg-house">
    <!-- <img src="static/img/senate.jpg"/> -->
</div>
<h1 align="center" style="color:white">House of Representatives</h1>
<div class="container" id = "house">    
</div>
<script type="text/babel">

var data = [
    { 'id': 1, 'firstName': 'Bill', 'lastName': 'Shuster', 'age': '54', 'party': 'Republican', 'state': 'Pennsylvania' },
    { 'id': 2, 'firstName': 'Will', 'lastName': 'Hurd', 'age': '38', 'party': 'Republican', 'state': 'Texas' },
    { 'id': 3, 'firstName': 'Lamar', 'lastName': 'Smith', 'age': '67', 'party': 'Republican', 'state': 'Texas' }
]; //Json Data

var Table = React.createClass({
    getInitialState: function(){
        return {data: []}
    },
    /*loadData: function(){
        $.ajax({
            url: '/daotao/lops',
            success: function(data){
                this.setState({data: data.lops});
            }.bind(this)
        })
    },
    componentWillMount: function(){
        this.loadData();
    },*/ 
    componentDidMount: function(){
        var self = this;
        $('#mytable').dataTable({
          "bAutoWidth": false,
          "bDestroy": true,     
          "fnDrawCallback": function() {                
                self.forceUpdate();         
          }, 
        });
    },
    componentDidUpdate: function(){
        $('#mytable').dataTable({
          "bAutoWidth": false,
          "bDestroy": true, 
        });
    },
    render: function(){
        var x = this.props.data.map(function(d, index){
            return <tr><td><a href={"representative/id/" +d.id}>{d.firstName}</a></td><td><a href={"representative/id/" +d.id}>{d.lastName}</a></td><td>{d.age}</td><td>{d.party}</td><td>{d.state}</td></tr>
        });
        
        return (
            <div className="table-responsive">
                <table className="table table-striped" id="mytable">
                    <thead>
                        <tr className="success">
                            <td>First Name</td>
                            <td>Last Name</td>
                            <td>Age</td>
                            <td>Party</td>
                            <td>State</td>
                        </tr>   
                    </thead>
                    <tbody>
                        {x}
                    </tbody>
                </table>
            </div>
        )       
    }
 });

React.render(<Table data={data}/>, document.getElementById('house'));

</script>
{% endblock %}
