{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}


{% block body %}


<video loop muted autoplay poster="../static/img/flag.jpg" class="fullscreen-bg__video">
    <source src="static/flag.webm" type="video/mp4">
</video>

<div class="container">
    <br />
    <div class="jumbotron">
        <h1 align="center">Politician Hub</h1>
        <p align="center">Your one stop shop for all things political</p>
    </div>
</div>
<br />


<img class="img-responsive" alt="join or die" style="display: block;margin-left: auto;margin-right: auto" src="../static/img/political_cartoon.jpg"/>

{% endblock %}

