{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}


{% block body %}
	<div class="container" >
        <div class="row">
            <div class="col-lg-8" id = "senate1">
                <h1> {{person.first_name}} {{person.last_name}} </h1>
                <hr />
                <img className="img-responsive" id="person-picture" src={{person.image}} style="float:left;margin-right:2em;width:250px"/>
                <div className="person-text">
                    <p className="lead"><b>Fullname:</b> {{person.first_name}} {{person.last_name}}</p>
                    <p className="lead"><b>Birthday:</b> {{person.birthday}}</p>
                    <p className="lead"><b>Gender  :</b> {{person.gender}}</p>
                    <p className="lead"><b>Chamber :</b> {{person.chamber}}</p>
                    <p className="lead"><b>State   :</b> {{person.state}}</p>
                    <p className="lead"><b>Party   :</b> {{person.party}}</p> 
                    <p className="lead"><a href="{{person.website}}"><b>Website</b></a></p>
                </div>
            <div id="committee-list">
                <br />
                <hr />
                <h2>Committee Membership</h2>
                <ul>
                {% for committee in person.committees %}
                    <li><a href="/committee/id/{{committee.id}}">{{committee.name}}</a></li>
                {% endfor %}
                </ul>    
            </div>

            <div id="votes-list">
                <br />
                <hr />
                <h2>Votes</h2>
                <div className="table-responsive">
                    <table className="table table-striped" id="mytable">
                        <thead>
                            <tr className="success">
                                <td>Bill Name</td>
                                <td>Vote</td>
                            </tr>
                        </thead>
                        <tbody>
                        {% for bill in person.votes %}
                            <tr>
                                <td><a href="/bills/id/{{bill.bill.id}}">{{bill.bill.name}}</a></td>
                                <td>{{bill.result}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <hr />      
            </div>
            <div className="twitter">
                 <div class="twitter">
                    <a class="twitter-timeline" href="https://twitter.com/{{person.twitter}}" data-widget-id="666296757437927425">Tweets by @{{person.twitter}}</a>
                </div>
            </div>
        </div>                
	</div>
{% endblock %}
