{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}


{% block body %}
<h1 align="center">Search Results for &ldquo;{{query}}&rdquo;</h1>
<div id = "searchresults">    
</div>
<script type="text/babel">

 var queries = "{{query}}";
 var queryArray = queries.split(" ");
 var q = "";
 for (var i = 0; i < queryArray.length; i++) {
     if(i == 0)
        q += queryArray[i];
     else
        q += "+OR+" + queryArray[i];
 };
 var source = "https://api.swiftype.com/api/v1/public/engines/search.json?q=" + q + "&engine_key=8eNhTJLVxxJ7yq815rPc"

 var Table = React.createClass({
        getInitialState: function(){
            return {data: []}
        },
        componentDidMount: function(){
            var self = this;
            $.get(this.props.source, function(result) {
              var d = [];
              d.push(result);
              if (this.isMounted()) {
                this.setState({
                  data: d
                });
              }
            }.bind(this));
        },
        componentDidUpdate: function(){
        },
        render: function()
        {
            if(this.state.data.length > 0)
            {
                var queryArray = this.props.queries;
                var data = this.state.data["0"];
                var recCount = data["record_count"];
                var info = data["info"];
                var infopage = info["page"];
                var records = data["records"];
                var list = records["page"].map(function(d, index){
                    var sections = d["sections"];
                    var highlight = d["highlight"];
                    var h = (highlight["body"]) ? highlight["body"] : highlight["sections"];
                    var bodyArray = h.split(" ");
                    var body = bodyArray.map(function(d, index){
                        if(d.charAt(0) == '<')
                            return (<b><i> {d.substring(4,d.length-5)} </i></b>);
                        else
                                return d + " ";
                    });
                    return (<a href={d["url"]} className="list-group-item">
                            <h4 className="list-group-item-heading">{sections["0"]}</h4>
                            <p className="list-group-item-text">{body}</p>
                          </a>)
                });
                var pagination = [];
                var numpages = infopage["num_pages"];
                for (var i = 1; i <= numpages; i++) {
                  pagination.push(<li><a href="#">{i}</a></li>);
                }
                console.log(pagination.length);
                return (
                    <section>
                        <h4>Showing {recCount} from {infopage["total_result_count"]} results</h4>
                        <div className="list-group">
                          {list}
                        </div>
                        <ul className="pagination pagination-lg">
                          {pagination}
                          <li className="active"><a href="#">1</a></li>
                          <li><a href="/2">2</a></li>
                          <li><a href="3">3</a></li>
                          <li><a href="4">4</a></li>
                          <li><a href="5">5</a></li>
                        </ul>
                    </section>)                     
            }
            else
            {
                return (<section></section>)
            }
        }
     });

    React.render(<Table queries={q} source={source}/>, document.getElementById('searchresults'));

</script>
{% endblock %}
