{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}


{% block body %}
<div class="fullscreen-bg-senate">
    <!-- <img src="static/img/senate.jpg"/> -->
</div>
<h1 align="center">Senate</h1>
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Age</th>
                    <th>Party</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href='/senator/id/1'>Lamar</a></td>
                    <td><a href='/senator/id/1'>Alexander</a></td>
                    <td>75</td>
                    <td>Republican</td>
                    <td>Tennessee (Sr.)</td>
                </tr>
                <tr>
                    <td><a href='/senator/id/2'>Michael</a></td>
                    <td><a href='/senator/id/2'>Enzi</a></td>
                    <td>71</td>
                    <td>Republican</td>
                    <td>Wyoming (Sr.)</td>
                </tr>
                <tr>
                    <td><a href='/senator/id/3'>Tammy</a></td>
                    <td><a href='/senator/id/3'>Baldwin</a></td>
                    <td>53</td>
                    <td>Democrat</td>
                    <td>Wisconsin (Jr.)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
