{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}


{% block body %}
<div class="fullscreen-bg-senate">
    <!-- <img src="static/img/senate.jpg"/> -->
</div>
<div class="container">
<table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>Party</th>
        <th>State</th>
      </tr>
    </thead>
    <tbody>
      <tr class='clickable-row' data-href='/senator/id/1'>
        <td>Lamar</td>
        <td>Alexander</td>
        <td>75</td>
        <td>Republican</td>
        <td>Tennessee (Sr.)</td>
      </tr>
      <tr class='clickable-row' data-href='/senator/id/2'>
        <td>Michael</td>
        <td>Enzi</td>
        <td>71</td>
        <td>Republican</td>
        <td>Wyoming (Sr.)</td>
      </tr>
      <tr class='clickable-row' data-href='/senator/id/3'>
        <td>Tammy</td>
        <td>Baldwin</td>
        <td>53</td>
        <td>Democrat</td>
        <td>Wisconsin (Jr.)</td>
      </tr>
    </tbody>
</table>
</div>
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>
{% endblock %}
